body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Segoe UI';
  user-select: none;
  src: local('Segoe UI'), url(./Assets//Fonts/Segoe_UI.ttf) format('truetype');
}
@font-face {
  font-family: 'Segoe UI Semibold';
  user-select: none;
  src: local('Segoe UI'), url(./Assets//Fonts/Segoe_UI_Semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Segoe UI Semilight';
  user-select: none;
  src: local('Segoe UI'), url(./Assets//Fonts/Segoe_UI_Semilight.ttf) format('truetype');
}
@font-face {
  font-family: 'Segoe UI Bold';
  user-select: none;
  src: local('Segoe UI'), url(./Assets//Fonts/Segoe_UI_Bold.ttf) format('truetype');
}